@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
    
    /* For extra small text on mobile */
    .text-xxs {
      font-size: 0.65rem;
      line-height: 1rem;
    }
  }